* {
  box-sizing: border-box;
}

/* Head */
header {
  background-color: #ffe4c4;
  padding: 20px;
  text-align: center;
  position: relative;
  width: 100%;
  border: solid #BDBDBD 1px; 
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	-moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ;  
  
}



/* Body */

#hero { 
  background-color: #ffe4c4;
  padding: 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
}


body {
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: black;
    text-align: right-aligned;

}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

.logo {
  max-width: 250px;
}
a {
    color: blue;
    text-decoration: none; /* No underlining */
  }
  a:hover,
  a:focus {
    color: #cc6540;
    text-decoration: underline; /* Underlining when hovering over a link */
}
  a:visited { /* visited link */
    color: rgb(4, 72, 4);
}
  a:active { /* selected link */
    color: green;
}
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: green;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid darkgreen; /* width of the border, type, color */
  transition: 0.2s opacity;
  transition-duration: 0.2s;
  transition-property: opacity;
}
.button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
}
.button.contact {
    background-color: transparent;
    color: green;
    text-transform: uppercase;
    border: 2px solid darkgreen;
  }
.button.contact:hover {
    background-color: green;
    color: #ffffff;
}

.work-imgs {
  width: 85%;
  height: auto;
}

.linked-in {
  width: 10%;
  height: auto;
}

.headshot{
  height: auto;
  width: 50%; 
  
}

.guru-project-page {
  width: 40%;
  height: auto;
}
.guru-fid{
  width: 25%;
  height: auto;
  margin: 20px;
}

.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* layout styling */
.container {
  padding: 0 20px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  position: absolute;
  right: 50px;
  top: 50px;

}

nav > ul > li {
  display: inline-block;
  width: auto;   
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}
nav > ul > li > a:visited {
  color: rgb(4, 72, 4);
}
nav > ul > li > a:hover {
color: #cc6540;
    text-decoration: underline;
}
nav > ul > li > a:active{
  color: green;
}



.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
} 

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}


.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

[class*="col-"] {
  float: left;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .col-md-6 {
    width: 50%;
  }

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .col-md-7 {
    width: 60%;
   
  }
  .col-md-5 {
    width: 40%;
    
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}